In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data1 = pd.read_csv('C:/Temp/0104.csv',encoding = 'cp949',parse_dates=['일자'])
data2 = pd.read_csv('C:/Temp/0508.csv',encoding = 'cp949',parse_dates=['일자'])
data3 = pd.read_csv('C:/Temp/0912.csv',encoding = 'cp949',parse_dates=['일자'])

In [3]:
data = pd.concat([data1,data2,data3])

In [5]:
data.head()

   Unnamed: 0         일자 요일 성별   연령 발신지_시도 발신지_구 발신지_읍면동  통화건수
0          72 2018-01-01  월  남  10대  서울특별시   강남구     도곡동     5
1          73 2018-01-01  월  남  10대  서울특별시   강남구     역삼동     5
2          74 2018-01-01  월  남  20대  서울특별시   강남구     일원동     5
3          75 2018-01-01  월  남  30대  서울특별시   강남구     수서동     5
4          76 2018-01-01  월  남  30대  서울특별시   강남구     개포동     5

In [11]:
data["월"]=data['일자'].dt.month

In [15]:
# Import LabelEncoder
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
data["요일_e"]=le.fit_transform(data["요일"])
data.head()

   Unnamed: 0         일자 요일 성별   연령 발신지_시도 발신지_구 발신지_읍면동  통화건수  월  요일_e
0          72 2018-01-01  월  남  10대  서울특별시   강남구     도곡동     5  1     3
1          73 2018-01-01  월  남  10대  서울특별시   강남구     역삼동     5  1     3
2          74 2018-01-01  월  남  20대  서울특별시   강남구     일원동     5  1     3
3          75 2018-01-01  월  남  30대  서울특별시   강남구     수서동     5  1     3
4          76 2018-01-01  월  남  30대  서울특별시   강남구     개포동     5  1     3

In [16]:
data["성별_e"]=le.fit_transform(data["성별"])
data["연령_e"]=le.fit_transform(data["연령"])
data["발신지_구_e"]=le.fit_transform(data["발신지_구"])
data["발신지_읍면동_e"]=le.fit_transform(data["발신지_읍면동"])
data.head()

,Unnamed: 0,일자,요일,성별,연령,발신지_시도,발신지_구,발신지_읍면동,통화건수,월,요일_e,성별_e,연령_e,발신지_구_e,발신지_읍면동_e
0,72,2018-01-01,월,남,10대,서울특별시,강남구,도곡동,5,1,3,0,0,0,69
1,73,2018-01-01,월,남,10대,서울특별시,강남구,역삼동,5,1,3,0,0,0,217
2,74,2018-01-01,월,남,20대,서울특별시,강남구,일원동,5,1,3,0,1,0,276
3,75,2018-01-01,월,남,30대,서울특별시,강남구,수서동,5,1,3,0,2,0,174
4,76,2018-01-01,월,남,30대,서울특별시,강남구,개포동,5,1,3,0,2,0,8

In [80]:
data2 = data.pivot_table(
    index=['통화건수'],
    columns='발신지_구'
)

In [75]:
data2

          Unnamed: 0                                               \
발신지_구            강남구            강동구            강북구            강서구
통화건수
5      197880.660123  205641.669537  199112.652652  198697.245344
6      203186.792969  207998.903990  192766.002551  201743.961290
7      212473.249836  207831.709413  201973.195364  197928.938642
8      212066.470752  213793.787365  192356.133047  199006.261157
9      209009.570428  199219.382643  200741.653179  200498.667308
10     210757.877533  195777.418142  175800.235669  192938.925847
11     213996.405458  205408.879310  185682.800000  198904.607143
12     205041.738789  194757.340909  202703.762295  199116.136646
13     204473.191970  199643.123324  194425.642202  204095.588933
14     208346.341160  205140.832192  201170.478723  189766.542308
15     203009.456942  206416.625000  182777.319444  202784.914414
16     211582.751503  194414.212500  203826.175676  194021.641304
17     199911.718876  207632.068783  179812.912500  200354.406250
18     205456.414248  200436.059172  188022.018182  203777.112903
19     203932.460366  203261.428571  180732.433333  194366.141667
20     211401.400000  205078.404959  180659.241935  200358.932331
21     209972.911439  197829.898649  191892.350000  199511.029630
22     184490.215613  208926.482759  207794.187500  212276.241135
23     201766.289593  229718.840708  198624.318182  200175.645161
24     197440.356757  195052.402062  243290.200000  186258.351351
25     198119.809278  180708.157407  210348.384615  228404.023438
26     197206.439759  188079.756098  200251.921053  178739.212389
27     190141.654135  189601.197674  204231.320000  197296.481203
28     191506.892086  180856.283019  214057.594595  203672.265487
29     186227.692308  190223.206897  236530.750000  212857.357895
30     185253.449153  199378.446154  205373.400000  209228.189189
31     215895.395062  193076.590909  216061.980392  228165.519231
32     210307.136364  223333.870370  210391.920000  213493.045872
33     178590.519481  204117.045455  204132.673913  200468.410000
34     162409.657534  158670.666667  190603.206897  192251.444444
...              ...            ...            ...            ...
737    207845.000000            NaN            NaN            NaN
738    170247.500000            NaN            NaN            NaN
742    242554.000000            NaN            NaN            NaN
744    362076.000000            NaN            NaN            NaN
745     42297.000000            NaN            NaN            NaN
746     80221.000000            NaN            NaN            NaN
748     35551.000000            NaN            NaN            NaN
749     69922.000000            NaN            NaN            NaN
751    132824.000000            NaN            NaN            NaN
757              NaN            NaN            NaN            NaN
759    294750.000000            NaN            NaN            NaN
763    147821.000000            NaN            NaN            NaN
768    104462.000000            NaN            NaN            NaN
772    264303.500000            NaN            NaN            NaN
773    192222.000000            NaN            NaN            NaN
780    111061.000000            NaN            NaN            NaN
782    320181.000000            NaN            NaN            NaN
784    180304.000000            NaN            NaN            NaN
787    351637.000000            NaN            NaN            NaN
788    421985.000000            NaN            NaN            NaN
793     10201.000000            NaN            NaN            NaN
805    262581.000000            NaN            NaN            NaN
807    393158.000000            NaN            NaN            NaN
809    215334.000000            NaN            NaN            NaN
818    212700.000000            NaN            NaN            NaN
842      9601.000000            NaN            NaN            NaN
855    157889.000000            NaN            NaN            NaN
878    195783.000000            NaN            NaN            NaN
955      9564.000000            NaN            NaN            NaN
995    242511.000000            NaN            NaN            NaN

                                                                   \
발신지_구            관악구            광진구            구로구            금천구
통화건수
5      187554.333134  209005.713672  206178.173304  202837.968961
6      205993.867021  203702.353952  217183.619236  206852.605505
7      213759.436275  202394.488318  208392.817292  210084.727941
8      211163.381188  221786.573727  207819.747350  203922.556430
9      222951.890110  212490.761905  192999.783231  207750.039106
10     209911.211207  203815.472803  209746.902235  194069.405063
11     209388.772152  198177.102804  194042.678873  205917.865248
12     213575.978261  214862.560694  200630.055172  199382.907473
13     220652.380488  197423.367521  196168.887446  214654.344828
14     211060.400000  204416.352000  198236.152284  208279.410628
15     227532.101266  194405.364486  206677.111732  193569.565657
16     215412.054545  234230.583333  180296.931034  178649.442177
17     202729.194805  197265.361446  194277.381356  195473.624161
18     218206.818713  222673.826667  190886.942308  215300.740385
19     198149.813333  186162.390244  196573.878505  200299.690909
20     194809.907692  237385.840000  189461.039216  171887.341772
21     220680.784483  225580.171875  174006.917647  189097.062500
22     209836.607692  213867.575758  161738.820513  193928.181818
23     226521.792079  226196.000000  171234.896552  223226.161290
24     204844.785714  205071.744186  198642.338462  180812.733333
25     218044.108434  208242.156863  193250.491228  153898.557377
26     205382.096774  224397.045455  184177.862745  203879.047619
27     178541.212500  209620.250000  198322.553191  195749.894737
28     210916.223529  165840.214286  233080.792453  187335.764706
29     214604.633333  202767.074074  174521.385965  160593.655172
30     222714.918033  224201.354839  221004.441176  193056.914286
31     177269.464286  186004.761905  188931.282609  214666.954545
32     195569.562500  155410.052632  176584.771930  179600.241379
33     182393.239130  195715.000000  222864.906250  195197.906250
34     240694.422222  235544.857143  182210.593750  229402.633333
...              ...            ...            ...            ...
737              NaN            NaN            NaN            NaN
738              NaN            NaN            NaN            NaN
742              NaN            NaN            NaN            NaN
744              NaN            NaN            NaN            NaN
745              NaN            NaN            NaN            NaN
746              NaN            NaN            NaN            NaN
748              NaN            NaN            NaN            NaN
749              NaN            NaN            NaN            NaN
751              NaN            NaN            NaN            NaN
757              NaN            NaN            NaN            NaN
759              NaN            NaN            NaN            NaN
763              NaN            NaN            NaN            NaN
768              NaN            NaN            NaN            NaN
772              NaN            NaN            NaN            NaN
773              NaN            NaN            NaN            NaN
780              NaN            NaN            NaN            NaN
782              NaN            NaN            NaN            NaN
784              NaN            NaN            NaN            NaN
787              NaN            NaN            NaN            NaN
788              NaN            NaN            NaN            NaN
793              NaN            NaN            NaN            NaN
805              NaN            NaN            NaN            NaN
807              NaN            NaN            NaN            NaN
809              NaN            NaN            NaN            NaN
818              NaN            NaN            NaN            NaN
842              NaN            NaN            NaN            NaN
855              NaN            NaN            NaN            NaN
878              NaN            NaN            NaN            NaN
955              NaN            NaN            NaN            NaN
995              NaN            NaN            NaN            NaN

                                     ...         월                      \
발신지_구            노원구            도봉구  ...       성동구       성북구       송파구
통화건수                                 ...
5      207165.285442  210314.490995  ...  6.340305  6.007150  6.309111
6      214774.375303  214209.116576  ...  7.175926  5.634126  6.484502
7      212944.908497  222209.265525  ...  6.637500  5.624733  6.423154
8      211191.704819  209116.452012  ...  6.938356  5.343567  6.604396
9      216214.945455  208140.754209  ...  7.069930  5.712281  6.877023
10     208959.335000  204833.585366  ...  6.666667  5.451389  6.639405
11     212424.240741  199652.338983  ...  6.635135  5.705382  6.536036
12     199649.650888  208152.696133  ...  6.464516  4.888112  6.425234
13     199076.399351  234656.580000  ...  6.698529  4.877273  6.766839
14     201064.367273  203382.870370  ...  6.974843  4.696809  6.659574
15     212532.095694  210416.869565  ...  6.450000  4.982301  6.698630
16     236998.530055  230270.134021  ...  6.628788  4.773196  6.269841
17     195986.443114  210160.320000  ...  6.301724  4.885246  6.975904
18     193602.335714  227598.011494  ...  6.771654  4.391304  7.062016
19     196439.631148  226091.350515  ...  6.477477  4.564103  6.609091
20     202713.437500  214386.592593  ...  7.078947  4.866667  7.140000
21     196488.935185  232407.098361  ...  6.478632  4.454545  6.825243
22     209870.763441  208641.257576  ...  6.405660  5.541667  6.505618
23     201059.914634  209319.814815  ...  6.524194  5.846154  7.269231
24     195886.711864  217377.375000  ...  6.559633  5.923077  6.034483
25     221398.543860  198821.600000  ...  6.438596  7.900000  6.936170
26     193226.595238  198526.400000  ...  6.087719  7.142857  6.657895
27     189733.645161  221613.794118  ...  6.161290  8.250000  6.197531
28     165864.685714  193810.911765  ...  6.511628  6.266667  6.743590
29     195712.318182  161122.700000  ...  6.141176  8.294118  5.876923
30     188605.956522  191591.862069  ...  6.467532  7.214286  6.394366
31     175997.684211  239633.826087  ...  6.415385  5.750000  6.597015
32     216050.866667  176539.307692  ...  5.871795  7.944444  6.771930
33     254594.473684  197280.000000  ...  6.561404  6.466667  6.452055
34     167422.111111  208014.263158  ...  7.019608  7.277778  5.957746
...              ...            ...  ...       ...       ...       ...
737              NaN            NaN  ...       NaN       NaN       NaN
738              NaN            NaN  ...       NaN       NaN       NaN
742              NaN            NaN  ...       NaN       NaN       NaN
744              NaN            NaN  ...       NaN       NaN       NaN
745              NaN            NaN  ...       NaN       NaN       NaN
746              NaN            NaN  ...       NaN       NaN       NaN
748              NaN            NaN  ...       NaN       NaN       NaN
749              NaN            NaN  ...       NaN       NaN       NaN
751              NaN            NaN  ...       NaN       NaN       NaN
757              NaN            NaN  ...       NaN       NaN       NaN
759              NaN            NaN  ...       NaN       NaN       NaN
763              NaN            NaN  ...       NaN       NaN  2.000000
768              NaN            NaN  ...       NaN       NaN       NaN
772              NaN            NaN  ...       NaN       NaN       NaN
773              NaN            NaN  ...       NaN       NaN  1.500000
780              NaN            NaN  ...       NaN       NaN       NaN
782              NaN            NaN  ...       NaN       NaN       NaN
784              NaN            NaN  ...       NaN       NaN       NaN
787              NaN            NaN  ...       NaN       NaN       NaN
788              NaN            NaN  ...       NaN       NaN       NaN
793              NaN            NaN  ...       NaN       NaN       NaN
805              NaN            NaN  ...       NaN       NaN       NaN
807              NaN            NaN  ...       NaN       NaN       NaN
809              NaN            NaN  ...       NaN       NaN       NaN
818              NaN            NaN  ...       NaN       NaN       NaN
842              NaN            NaN  ...       NaN       NaN       NaN
855              NaN            NaN  ...       NaN       NaN       NaN
878              NaN            NaN  ...       NaN       NaN       NaN
955              NaN            NaN  ...       NaN       NaN       NaN
995              NaN            NaN  ...       NaN       NaN       NaN


발신지_구       양천구      영등포구       용산구       은평구        종로구        중구       중랑구
통화건수
5      6.635207  6.439127  6.228223  6.326280   5.945488  6.249670  6.254057
6      6.050388  5.926404  5.746865  6.189509   5.232064  5.924196  5.810244
7      6.131519  5.782090  5.789047  6.164300   5.172340  6.081675  5.865248
8      5.896725  5.627995  5.751846  6.284753   4.919811  5.967213  5.312925
9      5.826446  5.679468  5.595941  6.015957   5.276986  6.088803  5.546039
10     5.939306  5.821429  5.917647  6.212698   5.497462  5.915049  5.342857
11     5.855634  5.521940  5.735537  6.171429   5.154982  6.115942  5.538732
12     6.059524  5.357143  5.903704  5.933824   5.692661  6.136531  5.390041
13     5.597015  5.830389  5.775330  6.115000   6.433962  6.602996  5.329032
14     5.418182  5.789030  5.477387  5.813830   5.561728  6.410891  5.518248
15     5.398010  5.715596  5.658385  5.376623   5.881818  6.876344  5.134021
16     5.283237  5.798995  6.068702  5.406452   5.723810  6.977612  5.459770
17     5.651613  6.265734  5.416000  5.654545   5.448718  7.118110  5.528571
18     5.428571  6.760000  5.650000  4.933333   6.188406  7.481481  4.849057
19     5.416667  6.563492  6.189474  5.529412   6.356164  7.000000  6.545455
20     5.060870  6.728155  5.433735  4.710145   6.754098  6.651515  5.096774
21     6.074766  6.255102  5.812500  5.084746   6.957447  7.148148  7.071429
22     5.467290  6.413333  5.423077  5.304348   7.736842  7.457627  6.185185
23     5.404762  7.641026  5.736111  6.148936   8.026316  7.390625  5.878788
24     5.920000  6.237500  6.052632  4.694444   6.486486  6.964912  5.892857
25     6.400000  7.078125  5.360656  5.566667   7.218750  7.131579  6.263158
26     5.830508  6.158730  6.157895  5.394737   6.735294  6.692308  7.388889
27     5.960000  6.041667  6.500000  4.562500   7.533333  8.060000  6.809524
28     5.833333  6.300000  5.720000  5.727273   6.650000  7.550000  7.333333
29     5.047619  6.382353  6.000000  6.448276   8.058824  6.342857  6.571429
30     4.960000  5.567164  5.542373  5.740741   7.277778  7.375000  7.166667
31     5.173913  7.095238  5.176471  5.791667   8.500000  8.521739  6.421053
32     5.457143  6.642857  5.636364  4.826087   7.812500  8.300000  7.000000
33     4.035714  6.313725  6.511111  4.357143  10.000000  8.360000  5.562500
34     5.343750  5.959184  5.386364  5.181818   9.928571  8.250000  5.600000
...         ...       ...       ...       ...        ...       ...       ...
737         NaN       NaN       NaN       NaN        NaN       NaN       NaN
738         NaN       NaN       NaN       NaN        NaN       NaN       NaN
742         NaN       NaN       NaN       NaN        NaN       NaN       NaN
744         NaN       NaN       NaN       NaN        NaN       NaN       NaN
745         NaN       NaN       NaN       NaN        NaN       NaN       NaN
746         NaN       NaN       NaN       NaN        NaN       NaN       NaN
748         NaN       NaN       NaN       NaN        NaN       NaN       NaN
749         NaN       NaN       NaN       NaN        NaN       NaN       NaN
751         NaN       NaN       NaN       NaN        NaN       NaN       NaN
757         NaN       NaN       NaN       NaN        NaN       NaN       NaN
759         NaN       NaN       NaN       NaN        NaN       NaN       NaN
763         NaN       NaN       NaN       NaN        NaN       NaN       NaN
768         NaN       NaN       NaN       NaN        NaN       NaN       NaN
772         NaN       NaN       NaN       NaN        NaN       NaN       NaN
773         NaN       NaN       NaN       NaN        NaN       NaN       NaN
780         NaN       NaN       NaN       NaN        NaN       NaN       NaN
782         NaN       NaN       NaN       NaN        NaN       NaN       NaN
784         NaN       NaN       NaN       NaN        NaN       NaN       NaN
787         NaN       NaN       NaN       NaN        NaN       NaN       NaN
788         NaN       NaN       NaN       NaN        NaN       NaN       NaN
793         NaN       NaN       NaN       NaN        NaN       NaN       NaN
805         NaN       NaN       NaN       NaN        NaN       NaN       NaN
807         NaN       NaN       NaN       NaN        NaN       NaN       NaN
809         NaN       NaN       NaN       NaN        NaN       NaN       NaN
818         NaN       NaN       NaN       NaN        NaN       NaN       NaN
842         NaN       NaN       NaN       NaN        NaN       NaN       NaN
855         NaN       NaN       NaN       NaN        NaN       NaN       NaN
878         NaN       NaN       NaN       NaN        NaN       NaN       NaN
955         NaN       NaN       NaN       NaN        NaN       NaN       NaN
995         NaN       NaN       NaN       NaN        NaN       NaN       NaN

[731 rows x 175 columns]

In [26]:
label = data["발신지_구"]

In [39]:
features=data[8:]

In [40]:
#features=list(zip(features))

In [44]:
from sklearn.cluster import KMeans

km = KMeans(n_cluster= 3,
            init='random',
            n_init =10,
            max_iter=300,
            tol=1e-02,
            random_state=0)

y_knn=km.fit_redict(features)

TypeError: __init__() got an unexpected keyword argument 'n_cluster'

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)

   Unnamed: 0         일자 요일 성별   연령 발신지_시도 발신지_구 발신지_읍면동  통화건수  월
0          72 2018-01-01  월  남  10대  서울특별시   강남구     도곡동     5  1
1          73 2018-01-01  월  남  10대  서울특별시   강남구     역삼동     5  1
2          74 2018-01-01  월  남  20대  서울특별시   강남구     일원동     5  1
3          75 2018-01-01  월  남  30대  서울특별시   강남구     수서동     5  1
4          76 2018-01-01  월  남  30대  서울특별시   강남구     개포동     5  1

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))